flows_CXOAPC17105061.json
[{"id":"dae771d7.a9227","type":"tab","label":"flow1","disabled":false,"info":""},{"id":"12054b90.3d0854","type":"tab","label":"flow2","disabled":false,"info":""},{"id":"9b2c462.1529fb8","type":"tab","label":"flow3","disabled":false,"info":""},{"id":"4820b583.7d0f2c","type":"subflow","name":"Subflow 1","info":"","in":[{"x":186,"y":297,"wires":[{"id":"50c4f915.e53058"}]}],"out":[{"x":626,"y":297,"wires":[{"id":"5bed09ff.c535c8","port":0}]}]},{"id":"9de989a5.be72c8","type":"swagger-doc","z":"","summary":"Date","description":"getDate","tags":"Date","consumes":"","produces":"","parameters":[],"responses":{"200":{"description":"本日日付"}},"deprecated":false},{"id":"2f550953.734176","type":"git-nodes-config","z":"","name":"","git":"git@github.com:okawatakashi/node_red_test.git"},{"id":"d311e370.083b2","type":"http in","z":"dae771d7.a9227","name":"GetDate","url":"/getDate","method":"get","upload":false,"swaggerDoc":"9de989a5.be72c8","x":107.10000610351562,"y":46,"wires":[["746e1f6c.7421b"]]},{"id":"746e1f6c.7421b","type":"function","z":"dae771d7.a9227","name":"","func":"var dt = new Date();  //. 現在時刻\nif( msg.req.query.timestamp ){\n  //. timestamp パラメータが指定されていた場合は、そのタイムスタンプの時刻に設定する\n  dt.setTime( msg.req.query.timestamp );\n}\nmsg.payload = dt;   //. ペイロードに時刻文字列を設定\nreturn msg;","outputs":1,"noerr":0,"x":272.1000061035156,"y":46,"wires":[["9a3152bc.1026e"]]},{"id":"9a3152bc.1026e","type":"http response","z":"dae771d7.a9227","name":"","statusCode":"","headers":{"Access-Control-Allow-Origin":"*"},"x":427.10003662109375,"y":46,"wires":[]},{"id":"d5a72a02.68ac68","type":"http in","z":"12054b90.3d0854","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":94.10000610351562,"y":72,"wires":[["2c031a46.49eb06","d2363ef8.e9112"]]},{"id":"2c031a46.49eb06","type":"http response","z":"12054b90.3d0854","name":"","statusCode":"","headers":{},"x":441.10003662109375,"y":76.60000610351562,"wires":[]},{"id":"d2363ef8.e9112","type":"debug","z":"12054b90.3d0854","name":"","active":false,"console":"false","complete":"false","x":426.10003662109375,"y":129,"wires":[]},{"id":"123afdc6.550832","type":"http in","z":"9b2c462.1529fb8","name":"","url":"/node_red_test/test10","method":"get","upload":false,"swaggerDoc":"","x":174,"y":103,"wires":[["183908a2.9e9237"]]},{"id":"183908a2.9e9237","type":"template","z":"9b2c462.1529fb8","name":"hello","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        Hello.\n    </body>\n</html>","x":334,"y":103,"wires":[["1ab5d02e.62f9f"]]},{"id":"1ab5d02e.62f9f","type":"http response","z":"9b2c462.1529fb8","name":"","x":514,"y":103,"wires":[]},{"id":"331e441b.b95d9c","type":"comment","z":"9b2c462.1529fb8","name":"シンプルなhtml出力","info":"","x":154,"y":63,"wires":[]},{"id":"32be5a7a.7db696","type":"template","z":"9b2c462.1529fb8","name":"test12.html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <style type=\"text/css\">\n            {{{payload.css}}}\n        </style>\n    </head>\n    <body>\n        <div id='a1'>\n            こんにちは\n        </div>\n    </body>\n</html>","x":476,"y":202,"wires":[["3946a34a.a330dc"]]},{"id":"16d31950.d3af17","type":"template","z":"9b2c462.1529fb8","name":"css","field":"payload.css","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"#a1 {\n  background-color:  #98d98e;\n  padding: 20px;\n  height: 100px;\n}\n","x":316,"y":202,"wires":[["32be5a7a.7db696"]]},{"id":"2b02114f.51404e","type":"http in","z":"9b2c462.1529fb8","name":"","url":"/test12","method":"get","upload":false,"swaggerDoc":"","x":136,"y":202,"wires":[["16d31950.d3af17"]]},{"id":"3946a34a.a330dc","type":"http response","z":"9b2c462.1529fb8","name":"","x":636,"y":202,"wires":[]},{"id":"a2ac0cd3.90305","type":"comment","z":"9b2c462.1529fb8","name":"色を付けてみました","info":"","x":156,"y":162,"wires":[]},{"id":"5bed09ff.c535c8","type":"template","z":"4820b583.7d0f2c","name":"test14.html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <style type=\"text/css\">\n            {{{payload.css}}}\n        </style>\n    </head>\n    <body style=\"background-color: #EAE5E3\">\n        <div id='basic'>\n            <div id='a1'>\n                <h1>\n                    こんにちは。これはa1です。\n                </h1>\n            </div>\n            <div id='b1'>\n                これはb1です。\n            </div>\n            <div id='c1'>\n                これはc1です。\n            </div>\n        </div>\n    </body>\n</html>","x":476,"y":297,"wires":[[]]},{"id":"50c4f915.e53058","type":"template","z":"4820b583.7d0f2c","name":"css","field":"payload.css","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"#basic {\n  font-family: meiryo;\n}\n#a1 {\n  background-color:  #98d98e;\n  padding: 20px;\n  height: 100px;\n}\n#b1 {\n  background-color:  #e4de8a;\n  padding: 20px;\n  height: 100px;\n  text-align: center;\n  font-size: 18pt\n}\n#c1 {\n  background-color:  lightskyblue;\n  padding: 20px;\n  height: 100px;\n  text-align: left;\n  font-size: 18pt\n}\n","x":316,"y":297,"wires":[["5bed09ff.c535c8"]]},{"id":"f4211204.ed9b8","type":"http in","z":"9b2c462.1529fb8","name":"","url":"/test14","method":"get","swaggerDoc":"","x":136,"y":297,"wires":[["21b80262.c6950e"]]},{"id":"f74b8ca.e5fcd7","type":"http response","z":"9b2c462.1529fb8","name":"","x":636,"y":297,"wires":[]},{"id":"aa18be19.d1549","type":"comment","z":"9b2c462.1529fb8","name":"複数divを設定してみました","info":"","x":186,"y":257,"wires":[]},{"id":"cade80d5.c5e42","type":"http in","z":"9b2c462.1529fb8","name":"","url":"/test24","method":"get","swaggerDoc":"","x":137,"y":391,"wires":[["3df110bd.e4f2"]]},{"id":"9a4a62dc.047c6","type":"http response","z":"9b2c462.1529fb8","name":"","x":757,"y":391,"wires":[]},{"id":"c40e1a15.317248","type":"comment","z":"9b2c462.1529fb8","name":"写真を掲出します","info":"","x":157,"y":351,"wires":[]},{"id":"d16e415.9818ac","type":"template","z":"9b2c462.1529fb8","name":"image","field":"payload.image","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","x":437,"y":391,"wires":[["adb7d4b7.2d85a8"]]},{"id":"adb7d4b7.2d85a8","type":"template","z":"9b2c462.1529fb8","name":"test24.html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <style type=\"text/css\">\n      {{{payload.css}}}\n    </style>\n  </head>\n  <body style=\"background-color: #EAE5E3; \">\n    <div id='basic'>\n        <div id='a1'><h1>写真を表示するサンプル</h1></div>\n        <div id='b1'>これは写真を表示するサンプルです</div>\n        <div id='c1'>これはc1です</div>\n        <div id='c2'>\n      <img src=\"{{{payload.image}}}\" style=\"width:100%;height:auto;\" />\n        </div>\n        <div id='c3'>これはc3ですよ</div>\n        <div id='d1'>これはd1です</div>\n    </div>\n  </body>\n</html>\n","x":597,"y":391,"wires":[["9a4a62dc.047c6"]]},{"id":"3df110bd.e4f2","type":"template","z":"9b2c462.1529fb8","name":"css","field":"payload.css","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"#basic {\n    font-family: meiryo;\n    width: 1200px;\n    position: absolute;\n    top: 0;\n    left: 0;\n    right: 0;\n    bottom: 0;\n    margin: auto;\n}\n#a1 {\n    background-color:  #98d98e;\n    height: 100px;\n    padding: 20px;\n}\n#b1 {\n    background-color:  #e4de8a;\n    height: 100px;\n    text-align: center;\n    font-size: 18pt;\n}\n#c1 {\n    float: left;\n    background-color:  burlywood;\n    height: 533px;\n    width: 200px;\n    text-align: left;\n    font-size: 18pt;\n}\n#c2 {\n    float: left;\n    background-color:  wheat;\n    height: 533px;\n    width: 800px;\n}\n#c3 {\n    float: right;\n    background-color:  burlywood;\n    height: 533px;\n    width: 200px;\n    font-size: 18pt;\n}\n#d1 {\n    clear: both;\n    background-color:  rosybrown;\n    height: 100px;\n    text-align: left;\n    font-size: 18pt;\n}\n","x":297,"y":391,"wires":[["d16e415.9818ac"]]},{"id":"7069c197.4b559","type":"template","z":"9b2c462.1529fb8","name":"test16.html 入力用","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <style type=\"text/css\">\n      {{{payload.css}}}\n    </style>\n  </head>\n  <body style=\"background-color: #EAE5E3\">\n    <div id='basic'>\n      <div id='a1'>\n        <h1>\n          文字列を入出力するサンプル\n        </h1>\n      </div>\n    <div id='b1'>\n      これは文字列を入出力するサンプルです\n    </div>\n    <div id='c1'>\n      <b>何か文字列を入力します</b>\n      <form action=\"http://localhost:1880/test17\" method=\"get\">\n        <textarea name=\"msg\" cols=20 rows=1 style=\"font-size:24pt;\">あいうえおw</textarea>\n      <button type=\"submit\" name=\"submit\" value=\"送信\">\n        <font size=\"2\">表示要求を</font><font size=\"5\" color=\"red\">送信！</font>\n      </button>\n\n    </div>\n  </div>\n</body>\n</html>\n","x":496,"y":480,"wires":[["33566867.e0ab88","5082352c.723bcc"]]},{"id":"9a92eebb.8ab63","type":"template","z":"9b2c462.1529fb8","name":"css","field":"payload.css","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"#basic {\n  font-family: meiryo;\n}\n#a1 {\n  background-color:  #98d98e;\n  padding: 20px;\n  height: 100px;\n}\n#b1 {\n  background-color:  #e4de8a;\n  padding: 20px;\n  height: 100px;\n  text-align: center;\n  font-size: 18pt\n}\n#c1 {\n  background-color:  lightskyblue;\n  padding: 20px;\n  height: 100px;\n  text-align: left;\n  font-size: 18pt\n}\n","x":316,"y":480,"wires":[["7069c197.4b559"]]},{"id":"f734ab67.b91688","type":"http in","z":"9b2c462.1529fb8","name":"","url":"/test16","method":"get","swaggerDoc":"","x":136,"y":480,"wires":[["9a92eebb.8ab63"]]},{"id":"33566867.e0ab88","type":"http response","z":"9b2c462.1529fb8","name":"","x":676,"y":480,"wires":[]},{"id":"3a602007.da31c","type":"comment","z":"9b2c462.1529fb8","name":"文字列を送信してみました","info":"","x":176,"y":440,"wires":[]},{"id":"c3b85c80.28dc8","type":"template","z":"9b2c462.1529fb8","name":"css","field":"payload.css","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"#basic {\n  font-family: meiryo;\n}\n#a1 {\n  background-color:  #98d98e;\n  padding: 20px;\n  height: 100px;\n}\n#b1 {\n  background-color:  #e4de8a;\n  padding: 20px;\n  height: 100px;\n  text-align: center;\n  font-size: 18pt\n}\n#c1 {\n  background-color:  lightskyblue;\n  padding: 20px;\n  height: 100px;\n  text-align: left;\n  font-size: 18pt\n}\n","x":316,"y":600,"wires":[["ca2364f3.1455d8"]]},{"id":"e8faf838.8f6ba8","type":"http in","z":"9b2c462.1529fb8","name":"","url":"/test17","method":"get","swaggerDoc":"","x":136,"y":600,"wires":[["c3b85c80.28dc8","96d5ad74.490dd"]]},{"id":"e131907a.f7d49","type":"http response","z":"9b2c462.1529fb8","name":"","x":676,"y":600,"wires":[]},{"id":"5082352c.723bcc","type":"debug","z":"9b2c462.1529fb8","name":"","active":false,"console":"false","complete":"false","x":686,"y":440,"wires":[]},{"id":"96d5ad74.490dd","type":"debug","z":"9b2c462.1529fb8","name":"","active":false,"console":"false","complete":"false","x":326,"y":660,"wires":[]},{"id":"e85d3d72.2a693","type":"comment","z":"9b2c462.1529fb8","name":"送付された文字列を表示してみました","info":"","x":216,"y":560,"wires":[]},{"id":"ca2364f3.1455d8","type":"template","z":"9b2c462.1529fb8","name":"test17.html 出力用","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <style type=\"text/css\">\n      {{{payload.css}}}\n    </style>\n  </head>\n  <body style=\"background-color: #EAE5E3\">\n    <div id='basic'>\n      <div id='a1'>\n        <h1>\n          文字列を入出力するサンプル\n        </h1>\n      </div>\n    <div id='b1'>\n      送付された文字列は『<b><font color=\"blue\">{{payload.msg}}』</font></b>でした。\n    </div>\n    <div id='c1'>\n      <b>何か文字列を入力します</b>\n      <form action=\"http://localhost:1880/test17\" method=\"get\">\n        <textarea name=\"msg\" cols=20 rows=1 style=\"font-size:24pt;\">あいうえおw</textarea>\n      <button type=\"submit\" name=\"submit\" value=\"送信\">\n        <font size=\"2\">表示要求を</font><font size=\"5\" color=\"red\">送信！</font>\n      </button>\n\n    </div>\n  </div>\n</body>\n</html>\n","x":496,"y":600,"wires":[["e131907a.f7d49"]]},{"id":"21b80262.c6950e","type":"subflow:4820b583.7d0f2c","z":"9b2c462.1529fb8","x":396,"y":297,"wires":[["f74b8ca.e5fcd7"]]}]